/.vscode
/W1_Q1.exe
/W1_Q2.exe
/W1_Q3.exe
/W1_Q4.exe
/W1_Q5.exe
/W1_Q6.exe
/W1_Q7.exe
/W1_Q8.exe
/W1_Q9.exe
/W1_Q10.exe
/W1_Q11.exe
/W1_Q12.exe
/W1_Q13.exe
/W1_Q14.exe
/W1_Q15.exe
/W1_Q16.exe
/W1_Q17.exe
/W1_Q18.exe
/W1_Q19.exe
/W1_Q20.exe
/W2_Q2.exe
